body {
  background-color: #66CC00;
  font-family: Calibri, Arial, serif;
  font-size: 20px;
}

body a{
font-style: italic;
color: blue;
text-decoration: none;
}

body a:hover, body a:active{
color: aqua;
}

.TableOfContents{
text-transform: uppercase;
}

.col{
width: 220px;
border: solid 2px black;
background-color: orange;
}

.tableofgames{
width: 1100px;
background-color: black;
border: solid 1px black;
font-size: 20px;
margin-left: auto;
margin-right: auto;
}

h1{
color: darkblue;
text-align: center;
font-weight: bold;
font-size: 36px;
font-family: Calibri;
text-transform: uppercase;
}

p{
  text-align: center;
  font-weight: bold;
}

body > p{
font-size: 30px;
color: red;
}

p a{
color: #9900CC;
font-size: 50px;
text-decoration: none;
}

.coloana{
width: 300px;
background-color: orange;
border: solid 2px black;
color: blue;
}

#tableofcontents{
background-color: black;
border: solid 2px black;
margin-left: auto;
margin-right: auto;
width: 1500px;
}

table{
  font-size: 25px;
}

.highlight {
  background-color: darkgreen;
  color: orange;
  font-weight: bold;
  font-size: 25px;
  font-family: arial black;
  line-height: 35px;
}

article > p {
  border: 4.5px solid black;
  border-radius: 30px;
}

.imagine{ /* approximate ratio width:height = 3:2 */
  width: 435px;
  height: 290px;
  border: 3px solid black;
  border-radius: 50px;
}

.motto{
  background-color: cyan;
  border: 3px solid black;
  border-radius: 20px;
  width: 500px;
  height: 150px;
  overflow: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
  position: absolute;
  bottom: 575px;
  left: 1330px;
}

.motto:hover {
  overflow-y: scroll;
}

.classification {
  display: inline-block;
  text-align: unset;
  position: absolute;
  margin-left: 700px;
  margin-top: 110px;
  font-size: 40px;
  font-weight: bold;
  color: lavender;
}